{% extends "base.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Удалить</legend>
                <h2>Вы уверены, что хотите удалить класс "{{ course.name }}"</h2>
            </fieldset>
            <div class="form-group">
                <a class="btn btn-outline-danger" href="{% url 'course_delete_view' course.pk %}">Да, Удалить</a>
                <a class="btn btn-outline-secondary" href="{% url 'course_detail_view' course.id %}">Отмена</a>
            </div>
        </form>
    </div>
{% endblock content %}