{% extends 'base.html' %}

{% block title %}
    Ученики
{% endblock %}
{% block content %}
    <form class="form-inline md-form mr-auto mb-4" action="{% url 'courses_view' %}" method="get">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
    <button class="btn btn-outline-info" type="submit">Search</button>
</form>
    {% if courses %}
        {% for course in courses %}
            {% if course.teacher %}
                <a href="{% url 'course_detail_view' course.pk %}"><p>Класс: {{ course.name }}</p></a>
                <p class="border-bottom mb-3">Учитель: {{ course.teacher }}</p>
            {% else %}
                <a href="{% url 'course_detail_view' course.pk %}"><p >Класс: {{ course.name }}</p></a>
                <p class="border-bottom mb-3">Учитель: Неопределен</p>
            {% endif %}

        {% endfor %}
        {% if user.is_superuser %}
            <div class="form-group">
                <a href="{% url 'course_create_view' %}"><button class="btn btn-outline-info" type="submit">Добавить</button></a>
            </div>
        {% endif %}
    {% else %}
        <h2>Ничего не найдено</h2>
        {% if user.is_superuser %}
            <div class="form-group">
                <a href="{% url 'course_create_view' %}"><button class="btn btn-outline-info" type="submit">Добавить</button></a>
            </div>
        {% endif %}
        <a href="{% url 'courses_view' %}"><p>Вернуться к списку классов</p></a>
    {% endif %}
{% endblock %}