{% extends 'base.html' %}

{% block content %}
    {% if course.teacher %}
        <p>Класс: {{ course.name }}</p>
        <p class="border-bottom mb-3">Учитель: {{ course.teacher }}</p>
    {% else %}
        <a href="#"><p >Класс: {{ course.name }}</p></a>
        <p class="border-bottom mb-3">Учитель: Неопределен</p>
    {% endif %}

    {% if user.is_superuser %}
        <div class="form-group">
            <a href="{% url 'course_create_view' %}"><button class="btn btn-outline-info" type="submit">Добавить</button></a>
            <a href="{% url 'course_update_view' course.pk %}"><button class="btn btn-outline-info" type="submit">Редактировать</button></a>
            <a href="{% url 'course_delete_confirm' course.pk %}"><button class="btn btn-outline-danger" type="submit">Удалить</button></a>
         </div>
    {% endif %}

{% endblock %}