{% extends 'user/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Логин</title>
{#    {% if messages %}#}
{#    {% for message in messages %}#}
{#        <div class="alert alert-{{ message.tags }}">#}
{#            {{ message }}#}
{#        </div>#}
{#    {% endfor %}#}
{#    {% endif %}#}
{% endblock %}
{% block content %}
        <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="from-group">
                <legend class="border-bottom mb-2">Войти</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Войти</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Нужна учетная запись?<a class="ml-2" href="{% url 'register_view' %}">Зарегестрироваться</a>
            </small>
        </div>
    </div>
{% endblock %}