{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'pupil_detail_view' pupil.pk %}"><p>ФИО: {{ pupil.full_name }}</p></a>
    <p>Пол: {{ pupil.sex }}</p>
    <p>День рождения: {{ pupil.birthday }}</p>
    <p class="border-bottom mb-3">Возраст: {{ pupil.get_age }}</p>
    {% if user.is_superuser %}
        <div class="form-group">
            <a href="{% url 'pupil_create_view' %}"><button class="btn btn-outline-info" type="submit">Добавить</button></a>
            <a href="{% url 'pupil_update_view' pupil.pk %}"><button class="btn btn-outline-info" type="submit">Редактировать</button></a>
            <a href="{% url 'pupil_delete_confirm' pupil.id %}"><button class="btn btn-outline-danger" type="submit">Удалить</button></a>
         </div>
    {% endif %}
{% endblock %}