{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Создать
{% endblock %}
{% block content %}
       <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="from-group">
                <legend class="border-bottom mb-2">Добавить</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Добавить</button>
            </div>
        </form>
        </div>
{% endblock %}