{% extends 'base.html' %}

{% block title %}
    Ученики
{% endblock %}
{% block content %}
    <form class="form-inline md-form mr-auto mb-4" action="{% url 'pupils_view' %}" method="get">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
    <button class="btn btn-outline-info" type="submit">Search</button>
</form>
    {% if pupils %}
        {% for pupil in pupils %}
                    <a href="{% url 'pupil_detail_view' pupil.pk %}"><p>ФИО: {{ pupil.full_name }}</p></a>
                    <p>Пол: {{ pupil.sex }}</p>
                    <p>День рождения: {{ pupil.birthday }}</p>
                    <p class="border-bottom mb-3">Возраст: {{ pupil.get_age }}</p>
        {% endfor %}
        {% if user.is_superuser %}
            <div class="form-group">
                <a href="{% url 'pupil_create_view' %}"><button class="btn btn-outline-info" type="submit">Добавить</button></a>
            </div>
        {% endif %}
    {% else %}
        <h2>Ничего не найдено</h2>
        {% if user.is_superuser %}
            <div class="form-group">
                <a href="{% url 'pupil_create_view' %}"><button class="btn btn-outline-info" type="submit">Добавить</button></a>
            </div>
        {% endif %}
        <a href="{% url 'pupils_view' %}"><p>Вернуться к списку учеников</p></a>
    {% endif %}
{% endblock %}