{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
       <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="from-group">
                <legend class="border-bottom mb-2">Редактировать</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Потвердить</button>
            </div>
        </form>
        </div>
{% endblock %}