{% extends 'base.html' %}

{% block title %}
    Учителя
{% endblock %}
{% block content %}
    <form class="form-inline md-form mr-auto mb-4" action="{% url 'teachers_view' %}" method="get">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
  <button class="btn btn-outline-info" type="submit">Search</button>
</form>
    {% if teachers %}
        {% for teacher in teachers %}
                    <a href="{% url 'teacher_detail_view' teacher.pk %}"><p>ФИО: {{ teacher.full_name }}</p></a>
                    <p>Предмет: {{ teacher.subject }}</p>
                    {% if teacher.job_pos == 'd' %}
                        <p class="border-bottom mb-3">Должность: Директор</p>
                    {% elif teacher.job_pos == 'z' %}
                        <p class="border-bottom mb-3">Должность: Завуч</p>
                    {% elif teacher.job_pos == 'u' %}
                        <p class="border-bottom mb-3">Должность: Учитель</p>
                    {% endif %}
        {% endfor %}
        {% if user.is_superuser %}
            <div class="form-group">
                <a href="{% url 'teacher_create_view' %}"><button class="btn btn-outline-info" type="submit">Добавить</button></a>
            </div>
        {% endif %}
    {% else %}
        <h2>Ничего не найдено</h2>
        {% if user.is_superuser %}
            <div class="form-group">
                <a href="{% url 'teacher_create_view' %}"><button class="btn btn-outline-info" type="submit">Добавить</button></a>
            </div>
        {% endif %}
        <a href="{% url 'teachers_view' %}"><p>Вернуться к списку Учителей</p></a>
    {% endif %}
{% endblock %}
