{% extends 'base.html' %}

{% block content %}
                    <a href="{% url 'teacher_detail_view' teacher.pk %}"><p>ФИО: {{ teacher.full_name }}</p></a>
                    <p>Предмет: {{ teacher.subject }}</p>
                    {% if teacher.job_pos == 'd' %}
                        <p class="border-bottom mb-3">Должность: Директор</p>
                    {% elif teacher.job_pos == 'z' %}
                        <p class="border-bottom mb-3">Должность: Завуч</p>
                    {% elif teacher.job_pos == 'u' %}
                        <p class="border-bottom mb-3">Должность: Учитель</p>
                    {% endif %}
{% if user.is_superuser %}
    <div class="form-group">
        <a href="{% url 'teacher_create_view' %}"><button class="btn btn-outline-info" type="submit">Добавить</button></a>
        <a href="{% url 'teacher_update_view' teacher.pk %}"><button class="btn btn-outline-info" type="submit">Редактировать</button></a>
        <a href="{% url 'teacher_delete_confirm' teacher.pk %}"><button class="btn btn-outline-danger" type="submit">Удалить</button></a>
    </div>
{% endif %}

{% endblock %}